@font-face {
    font-family: "NotJamChunky11";
    src:
      local("Trickster"),
      url("NotJamChunky11.ttf") format("truetype");
  }

  @font-face {
    font-family: "NotJamChunky11";
    src:
      local("Trickster"),
      url("NotJamChunky11.ttf") format("truetype");
  }

  button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button {
    background-color: #201fff;
    color: #e3e3e3;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 30px;
}

.base-container {
    background-color: #e3e3e3;
    color: #201fff;
}

.blue-container {
    background-color: #201fff;
    color: #e3e3e3;
}


.game{
    /* background-size: 40px 40px;
    background-image:
      linear-gradient(to right, #201fff 1px, transparent 1px),
      linear-gradient(to bottom, #201fff 1px, transparent 1px); */
      color: #201fff;
      /* font-family: "NotJamChunky11"; */
      font-family: Arial, Helvetica, sans-serif;
}

:root {
    background-color: #e3e3e3;
    cursor: url('/assets/hand_small_point.png'), auto;

}
/* Todo fix les png pour avoir aucun espace vide */

:root:active
{
    cursor: url('/assets/hand_small_closed.png'), auto;
}

.base-color {
  
}

.centered {
    text-align: center;
}



/* DEFAULT HTML TAGS */

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
    font-family: "NotJamChunkÀy11";
}

